# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://user:host/db'

GITHUB_ID=Lv1.aiueokakikukekos
GITHUB_SECRET=ffhafinalfantasynanoka?finalfightnanoka?
NEXTAUTH_SECRET=#openssl rand -base64 32 とかでつくる
NEXTAUTH_URL=http://localhost:3001

# NEXT_PUBLIC_ と頭につけるとブラウザ側にも渡る
#NEXT_PUBLIC_API_HOST=http://localhost:3001
API_HOST_AT_SERVER=http://localhost:3000
